.modal-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: auto;
    background-color: #5834a8;
    color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 1.2;
    font-family: Arial, sans-serif;
}

.close {
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    align-self: flex-end;
    transition: color 0.3s ease;
}

.close:hover {
    color: #ff4d4d;
}

.img {
    height: 300px;
    width: 80%;
    border-radius: 15px;
}

.img-poster {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

strong {
    font-size: 20px;
    margin-top: 10px;
}

.modal-card p {
    margin: 5px 0;
    color: #f1f1f1;
}

@media (max-width: 768px) {
    .modal-card {
        width: 90%;
        padding: 15px;
    }

    .img {
        width: 100%;
    }
}