.movie-card {
    padding: 10px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    border-radius: 20px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    box-shadow: 0 8px 16px rgb(20, 20, 20);
    background-color: rgba(132, 0, 255, 0.389);
    gap: 10px;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgb(0, 0, 0);
}

.movie-poster {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-card img {
    border-radius: 20px;
    width: 250px;
    object-fit: cover;
}

.favorie-btn {
    position: absolute;
    margin-left: 85%;
    font-size: 25px;
    color: rgba(255, 0, 0, 0.462);
    cursor: pointer;
}

.favorie-btn:hover {
    color: rgb(255, 0, 0);
}

.movie-info {
    margin-top: 20px;
}

.movie-info h4 {
    width: 250px;
}

.detail-btn {
    border: none;
    border-radius: 10px;
    background-color: rgba(137, 43, 226, 0.549);
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
}

.detail-btn:hover {
    background-color: blueviolet;
}