.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 10px 30px;
    background-color: blueviolet;
    color: rgb(228, 230, 232);
}

.link {
    text-decoration: none;
    color: aliceblue;
}

.navbar-right {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.p {
    cursor: pointer;
}

body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.dark-mode {
    background-color: #0f0f0f;
    color: #ffffff;
}

.Navbar.dark {
    background-color: #0f0f0f;
}

.theme-toggle {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: inherit;
    font-size: 1.5em;
}